In [2]:
import sqlite3 as sql
import pandas as pd

In [3]:
conn = sql.connect("db.sqlite3")

In [4]:
pd.read_sql("SELECT * FROM database_exemple_personnels", conn)

Empty DataFrame
Columns: [id, Prenom, Nom, Postnom, Sexe, Date_de_naissance, Numero_de_telephone, Email, Statut_id, Fonction_id, Affectation_id]
Index: []

In [5]:
dummy_file = pd.read_excel("Data\Employes-dummy_data.xlsx")
dummy_file.head()

,Prenom,Nom,Postnom,Sexe,Date_de_naissance,Numero_de_telephone,Email,Statut_id,Fonction_id,Affectation_id
0,Mathieu,Lomema,Moyo,M,1992-02-05,243815695789,moyo.mathieu@gmail.com,3,4,6
1,Emilie,Manga,NaN,F,1989-06-01,243975555895,mange.h@gmail.com,4,2,10
2,Eliza,Muteba,Mayela,F,1991-03-15,243897067532,elimuteba@outlook.com,4,6,2
3,Jonathan,Lenge,Kalenga,M,1984-11-30,243810078045,jonathanLK@gmail.com,6,1,1

In [6]:
dummy_file.to_sql("database_exemple_personnels", conn, if_exists='append', index=False)

4